.banner li {
  align-items: center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url("./../images/gif/stars.webp");
  color: white;
  display: flex;
  font-size: 10vw;
  font-weight: bold;
  justify-content: center;
  height: 100%;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner {
  background-attachment: fixed;
  background-color: black;
  color: white;
  padding: 2rem;
}

.banner::before {
  background-image: url("./../images/gif/stars.webp");
  background-attachment: fixed;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner--home {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  justify-content: center;
  left: 0;
  min-height: 22rem;
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 1;
}

.banner--home::after {
  background-color: transparent;
  background-image: url("./../images/lightning-bolt.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;
  content: "";
  height: 100%;
  left: 0;
  margin-top: -100px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  .banner--home::after {
    background-size: 450px;
    margin-top: -150px;
  }
}

.banner--home::before {
  background-image: url("./../images/gif/stars.webp");
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner__title {
  font-size: 1.5rem;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .banner__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  .banner__title {
    font-size: 3rem;
  }
}

.banner__title-main {
  opacity: 0;
  color: #4b83fc;
  font-size: 6rem;
  transition: all .2s ease-out .2s;
}

@media screen and (min-width: 600px) {
  .banner__title-main {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1000px) {
  .banner__title-main {
    font-size: 10rem;
  }
}

.banner__title-main.show {
  opacity: 1;
}

.banner__title-landing {
}
