* {
  box-sizing: border-box;
}

body {
  background: black;
  /* color: #333; */
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin: 0;
}

body.has-fixed-header {
  padding-top: 70px;
}

body.has-fixed-banner {
  padding-top: calc(70px + 80vh);
}

body.has-fixed-footer {
}

p {
  margin: 0 0 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
}

h1 {
  font-size: 10vw;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
}

h5 {
  background: black;
  color: white;
  display: inline-block;
  font-size: .8rem;
  margin: 0;
  padding: .25rem;
  text-transform: uppercase;
}

dl {
  margin: 0;
}

h1.title {
  font-size: 2rem;
}

img {
  height: auto;
  max-width: 100%;
}

dt, dd {
  display: inline;
}

dt {
  font-weight: bold;
}

dt::before {
  content: "";
  display: block;
}

dt::after {
  content: " :";
}

dd {
  margin-left: .15rem;
}

.title a,
.title a:visited {
  color: black;
}

@media screen and (min-width: 600px) {
  h1.title {
    font-size: 3rem;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border: 0;
}

ul {
  margin: 0 0 1.rem;
}

li {
}

.banner li {
  align-items: center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url("./../images/gif/stars.webp");
  color: white;
  display: flex;
  font-size: 10vw;
  font-weight: bold;
  justify-content: center;
  height: 100%;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

p {
  margin: 0 0 1rem;
}

a,
a:visited {
  padding-bottom: 2px;
  color: #5878ff;
  font-weight: bold;
  text-decoration: none;
  transition: border-bottom .2s .2s;
}

a:hover {
  text-decoration: underline;
}

.button {
  background: black;
  clip-path: polygon(0 0, 0 calc(100% - 1rem), 100% calc(100% - 1rem), 100% 1rem);
  color: #f347f3;
  display: inline-block;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  margin: 1rem 0;
  padding: 1.5rem 1rem 1.6rem;
  text-align: center;
  transition: all .1s ease-in-out;
}

.button:visited {
  color: #f347f3;;
}

.button:hover {
  color: #f347f3;
  clip-path: polygon(0 0, 0 calc(100% - 1rem), 100% 100%, 100% 1rem);
}

.content {
  /* background-image: url("./../images/what-the-hex.png"); */
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  z-index: 1;
}

.content--landing-page {
  background: white;
  /* background-image: url("./../images/what-the-hex.png"); */
}

.link--no-decoration {
  border: 0;

}

.header {
  align-items: center;
  background: rgba(255, 255, 255, .95);
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.header--fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.menu--main img {
  margin: 0;
  width: 45px;
}

.banner {
  background-attachment: fixed;
  background-color: black;
  color: white;
  padding: 2rem;
}

.banner::before {
  background-image: url("./../images/gif/stars.webp");
  background-attachment: fixed;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner--home {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  justify-content: center;
  left: 0;
  min-height: 22rem;
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 1;
}

.banner--home::after {
  background-color: transparent;
  background-image: url("./../images/lightning-bolt.svg");
  background-position: center 70px;
  background-repeat: no-repeat;
  background-size: 45vh;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .banner--home::after {
    background-size: 35vh;
  }
}

.banner--home::before {
  background-image: url("./../images/gif/stars.webp");
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner__title {
  font-size: 3vw;
  margin: 0;
}

.banner__title-main {
  opacity: 0;
  color: #f347f3;
  font-size: 15vw;
  transition: all .2s ease-out .2s;
}

@media screen and (max-width: 600px) {
  .banner__title-main {
    font-size: 5rem;
  }
}

.banner__title-main.show {
  opacity: 1;
}

.banner__title-landing {
}

.background--gray-light {
  background: #eee;
}

.background--white {
  background: #fff;
}

.section {
}

.section--constrained {
  margin: 0 auto;
  padding: 0 1rem;
}

.section--constrained-sm {
  max-width: 900px;
}

.section--padded {
  padding: 1rem;
}

.section--padded-lg {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.section--3up {
  /* align-items: flex-start; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section--3up-landing-page {
  padding-bottom: 5rem;
  padding-top: 1.4rem;
}

.section--3up.animate-show .section--3up-article {
  margin-top: 0;
  opacity: 1;
}

.section--3up-article {
  flex-basis: 100%;
  overflow: hidden;
  padding-bottom: 4rem;
  position: relative;
  z-index: 1;

  /* Top Right Notch
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 50px, calc(100% - 50px) 0);
  */

  /* Slanted Notch */
  clip-path: polygon(0 0, 0 100%, 100% calc(100% - 50px), 100% 0);

  /* Bottom Right Notch
  clip-path: polygon(0 0, 0 100%, calc(100% - 50px) 100%, 100% calc(100% - 50px), 100% 0);
  */

  background: rgba(255,255,255, .95);
  background: #f1efef;
  margin-top: 2rem;
  opacity: 0;
}

.section--3up .image--fixed {
  margin: 0 0 1rem;
}

.section--3up-article-lg {
  transition: all .1s ease-out;
}

.section--3up-article-sm {
  transition: all .1s ease-out .1s;
}

.section--3up-article-sm .image--fixed {
  background-position: center;
  background-size: auto;
  background-size: 500px;
}

.section--3up-article-lg .image--fixed {
  background-position: 0 90%;
  background-size: cover;
}

@media screen and (max-width: 899px) {
  .section--3up {
    /* margin-top: 4rem; */
  }

  .section--3up article {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 600px) {
  .section--3up-article {
    flex-basis: calc(50% - .6667rem);
  }
}

@media screen and (min-width: 900px) {
  .section--3up-article-lg {
    flex-basis: calc(66.666% - .6667rem);
    margin-bottom: 0;
    transition: all .5s ease-out;
  }

  .section--3up-article-sm {
    flex-basis: calc(33.333% - .6667rem);
    transition: all .5s ease-out .5s;
  }
}

.image--fixed {
  background-attachment: fixed;
  background-position: center;
  height: 200px;
  width: 100%;
}

.flex {
  display: flex;
}

.flex--space-between {
  align-items: center;
  justify-content: space-between;
}

.work-item {
  /* display: flex; */
}

.work-item__image {
  margin: 2rem 0 4rem;
}

.work-item__image img {
  border: 2px solid #ccc;
}

@media screen and (min-width: 800px) {
  .work-item__image {
    margin-left: -10rem;
    width: calc(100% + 20rem);
  }
}

.work-item__image img {
  display: block;
}

.work-item__text {
}

.two-col-container {
  display: flex;
  margin-bottom: 3rem;
}

.two-col-container__primary {

}

.two-col-container__secondary {
  margin-left: 2rem;
  min-width: 300px;
}

.footer {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1;
  font-size: 12px;
  height: 70px;
  justify-content: space-between;
  position: relative;
  text-align: center;
  z-index: 2;
}

.footer p {
  flex: 1;
}

.footer--fixed {
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
